<div class="orders wrapper">
    <div class="row">
        <div class="col-md-12 panel">
            <a class="btn btn-primary" href="javascript:;">司机列表</a>
            <a class="btn btn-default" href="javascript:;">添加司机</a>
            <a class="btn btn-default" href="javascript:;">分配司机</a>
        </div>
    </div>

    <div class="row top-mini-space panel-card">
        <div class="col-xs-6 col-sm-4 card">
            <div>
                <h4 class="title">Title</h4>
                <p class="content">Content</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 card">
            <div>
                <h4 class="title">Title</h4>
                <p class="content">Content</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 card">
            <div>
                <h4 class="title">Title</h4>
                <p class="content">Content</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="order in ordersList ">
            <div>{{ order.id }}</div>
            <div>{{ order.name }}</div>
        </div>
    </div>
</div>
